@media only screen and (max-width: 600px) {
		body {
			
			background: linear-gradient(90deg, #3BB19E, #57EF91);
			background-size: 150% 150%;
			animation: 5s gradient infinite;
			background-image: url(BG.png);
			background-size: 400%;
			background-position: 50%;
		}

		.navbar {
			margin-top: 50px;	
		}

		.nav-list {

			list-style: none;
			color: white;
			text-align: center;
			font-family: avenir;
			font-size: 1.3em;
			text-shadow: 2px 2px pink;
			margin-top: 10px;


		}

		.abt-proj {

			font-family: avenir;
			font-size: 25px;
			text-align: center;
			margin-top: 40px;
			border: 5px solid white;
			border-radius: 50px;
			/*height: 94px;*/
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 19.5px;
			padding-top: 19.5px;
			color: white;
			width: 80%;
			text-shadow: 2px 2px #3BB19E;

		}

		.abt-proj-bg {

			background-color: white;
			text-align: center;
			width: auto;
			margin-left: 35px;
			margin-right: 35px;
			height: 260px;
			border-radius: 50px;
			margin-top: 30px;
			height: auto;
			padding: 5px;

		}

		.abt-proj-txt {
			color: #3BB19E;
			font-family: avenir;
			padding: 25px 15px;
		}

		.subtext {

			color: white;
			text-align: center;
			font-family: avenir;
			margin-top: 2px;
		}

		.hero-image {
		  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
		  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("boardwalk.jpg");

		  /* Set a specific height */
		  height: 200px;

		  /* Position and center the image to scale nicely on all screens */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  position: relative;
		  margin-top: 20px;
		  /*border-radius: 30px;*/
		  margin: auto 40px;
		  margin-top: 50px;
		  background-color: #336E84;
		  margin-bottom: 100px;
		  background-blend-mode: hard-light;
		  border-radius: 20px;
		}

		/* Place text in the middle of the image */
		.hero-text {
		  text-align: center;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  color: white;
		  font-family: avenir;
		  font-size: 1.4em;
		  margin-top: auto;
	}

	/*.extend {

		height: 300px;
		width: 100%;
		background-color: #336E84;
		margin-left: -3px;
	}*/
	/*@keyframes gradient {
		0% {
			background-position: 20% 50%;
		}
		50% {
			background-position: 80% 50%;
		}
		100% {
			background-position: 0% 50%;
		}*/
}

/*iPad*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px) {
	body {
		background: linear-gradient(90deg, #3BB19E, #57EF91);
		background-size: 150% 150%;
		animation: 5s gradient infinite;
		background-image: url(BG.png);
		background-size: 200%;
		background-position: 50%;
	}

	.nav-list {
		list-style: none;
		color: white;
		text-shadow: 2px 2px pink;
		text-align: center;
		padding: 15px;
		font-size: 2em;
		font-family: avenir;
	}

	.abt-proj {

		color: white;
		font-family: avenir;
		text-align: center;
		border: 5px solid white;
		border-radius: 50px;
		margin: auto 100px;
		padding-bottom: 20px; 
		padding-top: 20px;	

	}

	.abt-proj-bg {

		background-color: white;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		height: 360px;
		border-radius: 50px;
		padding: 20px;
		margin-top: 30px;
		margin-bottom: 30px;


	}
	#abt-proj-bg-1 {

		height: 590px;
	}

	.abt-proj-txt {

		/*padding-top: 50px;*/
		font-family: avenir;
		font-size: 30px;
		width: 80%;
		margin: auto;
		margin-top: 10%;
		margin-bottom: 10%;
		color: #3BB19E;

	}
	#big-txt {

		font-size: 2em;
		margin-bottom: 20%;
	}
	.subtext {

			color: white;
			text-align: center;
			font-family: avenir;
			margin-top: 12px;
			font-size: 1.6em;
		}

	.hero-image {
		  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
		  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("boardwalk.jpg");

		  /* Set a specific height */
		  height: 400px;

		  /* Position and center the image to scale nicely on all screens */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  position: relative;
		  margin-top: 20px;
		  /*border-radius: 30px;*/
		  margin: auto 70px;
		  margin-top: 50px;
		  background-color: #336E84;
		  margin-bottom: 100px;
		  background-blend-mode: hard-light;
		  border-radius: 20px;
		}

	.hero-text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-family: avenir;
		font-size: 1.4em;
		margin-top: auto;


	}
}

/*iPad Pro*/

@media only screen 
and (min-device-width : 1024px) {
	body {
		background: linear-gradient(90deg, #3BB19E, #57EF91);
		background-size: 150% 150%;
		animation: 5s gradient infinite;
		background-image: url(BG.png);
		background-size: 200%;
		background-position: 50%;
	}

	.nav-list {
		list-style: none;
		color: white;
		text-shadow: 2px 2px pink;
		text-align: center;
		padding: 15px;
		font-size: 2em;
		font-family: avenir;
	}

	.abt-proj {

		color: white;
		font-family: avenir;
		text-align: center;
		border: 5px solid white;
		border-radius: 50px;
		margin: auto 150px;
		padding-bottom: 20px; 
		padding-top: 20px;	

	}

	.abt-proj-bg {

		background-color: white;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		height: 360px;
		border-radius: 50px;
		padding: 20px;
		margin-top: 30px;
		margin-bottom: 30px;


	}
	#abt-proj-bg-1 {

		height: 590px;
	}

	.abt-proj-txt {

		/*padding-top: 50px;*/
		font-family: avenir;
		font-size: 30px;
		width: 80%;
		margin: auto;
		margin-top: 10%;
		margin-bottom: 10%;
		color: #3BB19E;

	}
	#big-txt {

		font-size: 2em;
		margin-bottom: 20%;
	}
	.subtext {

			color: white;
			text-align: center;
			font-family: avenir;
			margin-top: 12px;
			font-size: 1.6em;
		}

	.hero-image {
		  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
		  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("boardwalk.jpg");

		  /* Set a specific height */
		  height: 400px;

		  /* Position and center the image to scale nicely on all screens */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  position: relative;
		  margin-top: 20px;
		  /*border-radius: 30px;*/
		  margin: auto 70px;
		  margin-top: 50px;
		  background-color: #336E84;
		  margin-bottom: 100px;
		  background-blend-mode: hard-light;
		  border-radius: 20px;
		}

	.hero-text {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-family: avenir;
		font-size: 1.4em;
		margin-top: auto;


	}
}
